<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amgooglemap>
            <general>
                <enabled>1</enabled>
                <draggable>1</draggable>
                <zoom>14</zoom>
                <map_type>roadmap</map_type>
                <width>100%</width>
                <height>200px</height>
                <display_area>bottom</display_area>
                <wrap_block>1</wrap_block>
            </general>
        </amgooglemap>
    </default>
</config>
